:root {
  --primary-red: #eb4545;
  --primary-green: #60b741;
  --primary-gray: #4e6a77;
  --primary-blue: #45b2eb;
  --secondary-blue: #588bff;
  --neutral-gray: #d9d9d9;
  --accent-orange: #eb9f45;
}
